POSTGRESQL_PORT=15432
POSTGRESQL_USER=user
POSTGRESQL_PASS=password
POSTGRESQL_ADDR=localhost
POSTGRESQL_DB=calendar

GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://${POSTGRESQL_USER}:${POSTGRESQL_PASS}@${POSTGRESQL_ADDR}:${POSTGRESQL_PORT}/${POSTGRESQL_DB}
GOOSE_MIGRATION_DIR=./migrations